<script type="text/javascript">
  $( document ).ready(function() {
       $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 3 // Creates a dropdown of 15 years to control year
  });
}); 
</script>
<script type="text/javascript">
  function onlyNos(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            catch (err) {
                alert(err.Description);
            }
        }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#niltpass").hide();
    $("#utpass").hide();

    $("#utpassshow").click(function(){
      $("#utpass").show();
    });
  });
</script>
<div class="col hide-on-small m1 l1">&nbsp;</div>
<div class="col s12 m10 l10">
  <div class="col s12 m12 l12 topmargin">
      <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <div class="col s12 m3 l3"><!--    Profile side bar -->
    <div class="profile-pic">
      <% if @trainer.image.url=='/images/original/missing.png'%>
        <%= image_tag("profile_pics/pic_def.png", :class => "profile-pic-img") %>
      <%else%>
        <%= image_tag(@trainer.image.url, :class => "profile-pic-img") %>
      <%end%>
    </div>
    <div class="profile-sidebar">
      <ul class="collection">
        <li class="collection-item">
          <a href="/trainers/profile" id="">My Profile</a> <!--onclick="this.className='active'"-->
        </li>
        <li class="collection-item">
          <a href="#appliedprogram" id="showappliedprogram" onclick="this.className='active'">Applied Programs</a>
        </li>
        <li class="collection-item">
          <a href="#savedprogram" id="showsavedprogram" onclick="this.className='active'">Saved Programs</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m9 l9">
    <div class="profile-header">
      <div class="profile-name">
        <h5><%= @trainer.full_name %></h5>        
      </div>
      <div>
        <%= @trainer.email %></span><br>
        Active since : <%= @trainer.created_at.to_date %>
      </div>
    </div>
    <div class="profile-mainbar" id="editprofilepage" style="background-color:#fff;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
      <div class="col s12 m6 l6 topmargin">
        <div class="hd">About You</div>
        <div class="profile-body">
          <div class="input-field col s12 m12 l12">
            <span style="color:#e37343;">Current Password</span><br>
            <%#= f.label :current_password,"Current Password"%>  
            <%= f.password_field :current_password, :class=>"form-control" %>
            <span id="niltpass" style="color:red">Password is Mandatory.</span>
            <!--span id="utpassshow" style="font-size:14px;"><a href="#">Update Password</a></span-->
          </div>
          <div class="input-field col s12 m6 l6">
            <%#= f.label :full_name,"First Name" %>
            <span style="color:#e37343;">First Name</span><br>
            <%= f.text_field :full_name,:class=>"form-control" %> 
          </div>
          <div class="input-field col s12 m6 l6">
            <%#= f.label :last_name,"Last Name" %>
            <span style="color:#e37343;">Last Name</span><br>
            <%= f.text_field :last_name,:class=>"form-control" %>
          </div>
          <div class="input-field col s12 m4 l4">
            <label><span style="color:#e37343;">Update Pic</label>
          </div>
          <div class="input-field col s12 m8 l8">
            <br>
            <%= f.file_field :image, :class=>"form-control" %>
          </div>
          <div class="input-field col s12 m6 l6">
            <%#= f.label :birth_date,"Date of Birth" %>
            <span style="color:#e37343;">Date of Birth</span><br>
            <%= f.text_field :birth_date, :class=>"datepicker" %>
          </div>
          <div class="input-field col s12 m6 l6">
            <span style="color:#e37343;">Gender</span><br>
            <%= f.select :gender, ["Male","Female","Others"],:class=>"form-control" %>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 topmargin">
        <div class="hd">Contact Details</div>
        <div class="profile-body">
          <div class="input-field col s12 m12 l12">
            <%#= f.label :primary_number,"Contact Number" %>
            <span style="color:#e37343;">Phone/Mobile Number</span><br>
            <%= f.text_field :primary_number, :maxlength=>"12",:onkeypress=>"return onlyNos(event,this);",:class=>"form-control" %>
          </div>
          <div class="input-field col s12 m12 l12">
            <%#= f.label :address,"Mailing Address" %>
            <span style="color:#e37343;">Mailing Address</span><br>
            <%= f.text_field :address, :class=>"marerialize-textarea" %>
          </div>
          <div class="input-field col s4 m4 l4">
            <%#= f.label :city, "City"%>
            <span style="color:#e37343;">City</span><br>
            <%= f.text_field :city,:class=>"form-control"%>
          </div>
          <div class="input-field col s4 m4 l4">
            <%#= f.label :state, "State"%>
            <span style="color:#e37343;">State</span><br>
            <%= f.text_field :state,:class=>"form-control"%>
          </div>
          <div class="input-field col s4 m4 l4">
            <%#= f.label :country, "Country"%>
            <span style="color:#e37343;">Country</span><br>
            <%= f.text_field :country,:class=>"form-control"%>
          </div>
        </div>
      </div>
      <div class="input-field col s12 m12 l12">
        <table width="50%;">
          <tr>
            <td>
              <%= f.button "Update Details",:id=>"tupprof", :class=>"form-control btn" %>
            </td>
            <td>
              <%= link_to "Cancel", 'profile', :class=>"form-control btn btn light-red-3" %>
            </td>
          </tr>
        </table>
      </div>
    <%end%>
    </div>
  </div>
</div>
<div class="col hide-on-small m1 l1">&nbsp;</div>