<p>Hello Admin,</p>
<p>This is just to notify about <span color="orange"><%= @contactu.subject %></span></p><br>
<p><b>Details</b></p>
<table class="customtable">
	<tr>
		<td>Contacted by </td><td><%= @contactu.name %></td>
	</tr>
	<tr>
		<td>Email </td><td><%= @contactu.email %></td>
	</tr>
	<tr>
		<td>Contact Number </td><td><%= @contactu.phone %></td>
	</tr>
	<tr>
		<td>City </td><td><%= @contactu.city %></td>
	</tr>
	<tr>
		<td>Contact Type </td><td><%= @contactu.contact_type %></td>
	</tr>
	<tr>
		<td>Message </td><td><%= @contactu.message %></td>
	</tr>
</table>
<p>Regards,<p>
<p>Traix</p>