<script type="text/javascript">
  function onlyNos(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            catch (err) {
                alert(err.Description);
            }
        }
</script>
<%= form_for(qualification) do |f| %>
    <div class="col s12 m12 l12">
      <div class="col s12 m4 l4 input-field">
        <%=f.label :course_name,"Course Name" %>
        <%= f.text_field :course_name,:id=>"qualcourse", :class=>"form-control" %>
        <span style="color:red;font-size:12px;" class="hidden" id="course_err">Course Name is Required</span>
      </div>
      <div class="col s12 m4 l4 input-field">
        <%= f.select :course_type,['Graduation','Post Graduation','Diploma','Others'],:class=>"collectionselect" %>
      </div>
      <div class="col s12 m4 l4 input-field">
        <%= f.label :completed_from ,"College/University" %>
        <%= f.text_field :completed_from,:id=>"coluni", :class=>"form-control col-xs-6" %>
        <span style="color:red;font-size:12px;" class="hidden" id="colunierr">College/University Name is Required</span>
      </div>
      <div class="col s6 m3 l3 input-field">
        <%= f.label :start_date, "Start Date" %>
        <%= f.text_field :start_date, :class=>"datepicker" %>
      </div>
      <div class="col s6 m3 l3 input-field">
        <%= f.label :end_date, "Start Date" %>
        <%= f.text_field :end_date, :class=>"datepicker" %>
      </div>
      <div class="col s6 m3 l3 input-field">
        <%= f.label :percentage, "Percentage" %>
        <%= f.text_field :percentage, :id=>"qualper", :onkeypress=>"return onlyNos(event,this);",:class=>"form-control",:maxlength=>"3" %>
      </div>
      <div class="col s6 m3 l3 input-field">
        <%= f.label :grade, "Grade" %>
        <%= f.text_field :grade, :id=>"qualgrade", :maxlength=>"4" %>
        <span style="color:red;font-size:12px;" class="hidden" id="grade_err">Please mention grade.</span>
      </div>
      <div class="col s12 m12 l12 input-field">
        <%= f.label :course_description, "Course Description" %>
        <%= f.text_area :course_description, :id=>"qualdesc",:class=>"materialize-textarea" %>
        <span style="color:red;font-size:12px;" class="hidden" id="qualerr">Please mention course description.</span>
      </div>
      <div class="col s12 m12 l12">
        <%= f.submit :"Update Details",:id=>"qualupdate", :onClick=>"",:class=> 'btn btn-success col-xs-11' %>
      </div>
    </div>
<%end%>