<div class="col-xs-12 col-md-12 col-sm-12">
  <% if qualification.course_name!=nil %>
	<div class="qbox tcenter lato">
		<h3 class="qh1"><%= qualification.course_type %></h3>
			<table class="table">
				<tr>
					<th style="text-align:center"><b>Course</b></th>
					<th style="text-align:center"><b>University/College</b></th>
					<th style="text-align:center"><b>Course Description</b></th>
					<th style="text-align:center"><b>Program Duration</b></th>
					<th style="text-align:center"><b>Percentage</b></th>
					<th style="text-align:center"><b>Grade</b></th>
				</tr>
				<tr>
					<td><%= qualification.course_name %></td>					
					<td><%= qualification.completed_from %></td>
					<td><%= qualification.course_description %></td>
					<td>
						<%= qualification.start_date %><br>
						to<br>
						<%= qualification.end_date %><br><br>
						<span class="orange"><%#= qualification.duration %></span>
					</td>
					<td><%= qualification.percentage %></td>
					<td><%= qualification.grade %></td>
				</tr>
			</table>
			<% if trainer_signed_in? %>
			    <div align="right">
			    	<%= link_to 'Update', "#",'data-target'=>"#editqualmodal_#{qualification.id}","data-toggle" => "modal", :class=>"btn btn-success btn-sm" %>
			    	<%= link_to 'Remove', qualification, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %>
			    </div>
			<%end%>
	</div>
  <%end%>
</div>
<div id='<%="editqualmodal_#{qualification.id}"%>' class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Update Qualification</h4>
          </div>
          <div class="modal-body">
          		<%= render 'qualifications/editqualification', qualification: qualification %>
          		&nbsp;
          </div>
	  </div>
  </div>
</div>