<div class="col-xs-12 col-md-12 col-sm-12">
  <% if qualification.course_name!=nil %>
	<div class="qbox">
		<h3 class="qh1"><%= qualification.course_type %></h3>
			<table class="table">
				<tr>
					<th><b>Course</b></th>
					<th><b>University/College</b></th>
					<th><b>Joining Date</b></th>
					<th><b>Completed On</b></th>
					<th><b>Course Duration</b></th>
					<th><b>Percentage</b></th>
					<th><b>Grade</b></th>
				</tr>
				<tr>
					<td><%= qualification.course_name %></td>
					<td><%= qualification.completed_from %></td>
					<td><%= qualification.start_date %></td>
					<td><%= qualification.end_date %></td>
					<td><%= qualification.duration %></td>
					<td><%= qualification.percentage %></td>
					<td><%= qualification.grade %></td>
				</tr>
			</table>
		    <div align="right">
		    	<%= link_to 'Remove', qualification, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %>
		    </div>
	</div>
  <%end%>
</div>