<script type="text/javascript">
  $( document ).ready(function() {
       $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 3 // Creates a dropdown of 15 years to control year
  });
}); 
</script>
<script type="text/javascript">
  function onlyNos(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            catch (err) {
                alert(err.Description);
            }
        }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#niltpass").hide();
    $("#utpass").hide();

    $("#utpassshow").click(function(){
      $("#utpass").show();
    });
  });
</script>
<div class="col hide-on-small m1 l1">&nbsp;</div>
<div class="col s12 m10 l10">
  <div class="col s12 m12 l12 topmargin">
      <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <div class="col s12 m3 l3"><!--    Profile side bar -->
    <div class="profile-pic">
      <% if @recruiter.image.url=='/images/original/missing.png'%>
        <%= image_tag("profile_pics/pic_def.png", :class => "profile-pic-img") %>
      <%else%>
        <%= image_tag(@recruiter.image.url, :class => "profile-pic-img") %>
      <%end%>
    </div>
    <div class="profile-sidebar">
      <ul class="collection">
        <li class="collection-item">
          <a href="/recruiters/myaccout" id="profile" onclick="this.className='active'">My Profile</a> (<span style="align:right;font-size:13px;"><%= link_to 'Edit', edit_recruiter_registration_path %></span>)
        </li>
        <li class="collection-item">
          <a href="/recruiters/myaccount#postedprograms" id="showpostedprograms" onclick="this.className='active'">My Programs</a>
        </li>
        <li class="collection-item">
          <a href="/recruiters/myaccount#appliedprograms" id="showappliedprograms" onclick="this.className='active'">Applications</a>
        </li>
      </ul>
      </ul>
    </div>
  </div>
  <div class="col s12 m9 l9">
    <div class="profile-header">
      <div class="profile-name">
        <h5><%= @recruiter.firm_name %></h5>
      </div>
      <div>
        <%= @recruiter.email %><br>
        Active since : <%= DateTime.parse(@recruiter.created_at.to_s).strftime("%m-%d-%Y") %>
      </div>
      <div>
        <%= link_to "Add Programs","#recprogmodal",:class=>"modal-trigger",:id=>"postprogrammodal"%>
      </div>
    </div>
    <div class="profile-mainbar" id="editprofilepage" style="min-height:500px;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
      <div class="col s12 m6 l6 topmargin">
        <div class="hd">About You</div>
        <div class="profile-body">
          <div class="input-field">
            <span style="color:#e37343;">Current Password</span><br>
            <%#= f.label :current_password,"Current Password"%>  
            <%= f.password_field :current_password, :class=>"form-control" %>
            <span id="niltpass" style="color:red">Password is Mandatory.</span>
            <!--span id="utpassshow" style="font-size:14px;"><a href="#">Update Password</a></span-->
          </div>
          <div class="input-field">
            <%#= f.label :full_name,"First Name" %>
            <span style="color:#e37343;">Firm Name</span><br>
            <%= f.text_field :firm_name,:class=>"form-control" %> 
          </div>
          <div class="input-field">
            <%#= f.label :last_name,"Last Name" %>
            <%= f.select :firm_type, ["Company","Collage","Others"],:class=>"form-control" %>
          </div>
          <div class="input-field">
            <span style="color:#e37343;">Update Pic</span>
            <br>
            <%= f.file_field :image, :class=>"form-control" %>
          </div>
          <div class="input-field">
            <%#= f.label :birth_date,"Date of Birth" %>
            <span style="color:#e37343;">Address</span><br>
            <%= f.text_area :firm_address, :class=>"marerialize-textarea" %>
          </div>
          <div class="input-field col s12 m4 l4">
            <span style="color:#e37343;">City</span><br>
            <%= f.text_field :city, :class=>"form-control" %>
          </div>
          <div class="input-field col s12 m4 l4">
            <span style="color:#e37343;">State</span><br>
            <%= f.text_field :state, :class=>"form-control" %>
          </div>
          <div class="input-field col s12 m4 l4">
            <span style="color:#e37343;">Country</span><br>
            <%= f.text_field :country, :class=>"form-control" %>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 topmargin">
        <div class="hd">Authorised Person Details</div>
        <div class="profile-body">
          <div class="input-field col s12 m12 l12">
            <span style="color:#e37343;">Name</span><br>
            <%= f.text_field :contact_person_name, :class=>"form-control" %>
          </div>
          <div class="input-field col s12 m12 l12">
            <span style="color:#e37343;">Number</span><br>
            <%= f.text_field :contact_person_number, :maxlength=>"12",:onkeypress=>"return onlyNos(event,this);",:class=>"form-control"  %>
          </div>
          <div class="input-field col s12 m12 l12">
            <span style="color:#e37343;">Email</span><br>
            <%= f.email_field :contact_person_email, :class=>"form-control" %>
          </div>
        </div>
      </div>
      <div class="input-field col s12 m12 l12">
        <table width="50%;">
          <tr>
            <td>
              <%= f.button "Update Details",:id=>"tupprof", :class=>"form-control btn" %>
            </td>
            <td>
              <%= link_to "Cancel", 'profile', :class=>"form-control btn btn light-red-3" %>
            </td>
          </tr>
        </table>
      </div>
    <%end%>
    </div>
  </div>
</div>
<div class="col hide-on-small m1 l1">&nbsp;</div>