<script type="text/javascript">
    $(document).ready(function(){
      $("#recdash").show();
      $("#recprofilepage").show();
      $("#postedprograms").hide();
      $("#showpostedprograms").click(function(){
        $("#recprofilepage").hide();
        $("#postedprograms").show();
        $('#showpostedprograms').removeClass("active");
        return false;
      });
      $("#showrecprofilepage").click(function(){
        $("#recprofilepage").show();
        $("#postedprograms").hide();
        $('#showrecprofilepage').removeClass("active");
        return false;
      });

      $("#recprofile-l").click(function(){
        $("#recprofile").show();
        $("#recdash").hide();
      });
      }
  );
$(document).ready(function(){
      setTimeout(function(){
      $("#notice").hide("slow");
     },2000);
  });
</script>
<div class="col-xs-12 col-md-12 col-sm-12">
    <ul class="nav navbar-nav profile-nav">
      <li><a href="/recruiters/myaccount">My Profile</a></li>
      <li><a href="/recruiters/myaccount#programs">My Projects</a></li>
    </ul>    
  <span class="tright" style="margin-top:1%;">
    <%= link_to "Post Project","#programmodal",:class=>"homebutton","data-toggle" => "modal",:id=>"addprogram"%>
  </span>
  <div id="programmodal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add New Program</h4>
        </div>
        <div class="modal-body">
          <%= render "programs/form" %>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 gradient">
  <div class="col-xs-12 col-md-12 col-sm-12 topmargin">
      <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12 whitebg" id="recprofilepage" style="padding: 10px;margin-top: 4%;margin-bottom:4%">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
    <div class="col-xs-6 col-md-3 col-sm-6" style="margin-top:-4%;">
      <% if @recruiter.image.url=='/images/original/missing.png'%>
        <%= image_tag("profile_pics/pic_def.png", :class => "profile_pic") %>
      <% else %>
        <%= image_tag(@recruiter.image.url, :class => "profile_pic") %>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-9 col-sm-6">
      <h3>
          <% if @recruiter.firm_name? %>
            <b><%= @recruiter.firm_name %></b>
          <%else%>
            <b>Welcome</b>
          <% end -%>  
        </h3>
        <%= @recruiter.email %><br>
        <div class="col-xs-6 col-sm-6 col-md-3" style="margin-left:-15px;">
          Current Password <span style="color:red">*</span> 
          <%= f.password_field :current_password, :class=>"form-control" %>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 topmargin lato" id="profile">      
      <div class="col-xs-12 col-md-6 col-sm-12">
        <h3>Firm Details</h3>
        <table class="table">
            <tr><td>Firm Name:</td><td><%= f.text_field :firm_name, :class=>"form-control" %></td></tr>
            <tr><td>Firm Type:</td><td><%= f.select :firm_type, ['','College','Company'], :class=>"form-control" %></td></tr>
            <tr><td>Firm Number</td><td><%= f.text_field :firm_number, :class=>"form-control" %></td></tr>
            <tr><td>Firm Address</td><td><%= f.text_area(:firm_address, size: '50x4', :class=>"form-control")%></td></tr>
        </table>
        <table class="table">
          <tr>
            <td>City: </td><td><%= f.text_field :city, :class=>"form-control" %></td>
            <td>State: </td><td><%= f.text_field :state, :class=>"form-control" %></td>
            <td>Country: </td><td><%= f.select :country, ['Select Country','India'], :class=>"form-control" %></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-md-6 col-sm-12">
        <h3>Authorised Person Contact Details</h3>
        <table class="table">
          <tr><td>Person Name</td><td><%= f.text_field :contact_person_name, :class=>"form-control" %></td></tr>
          <tr><td>Email:</td><td><%= f.email_field :contact_person_email, :class=>"form-control" %></td></tr>
          <tr><td>Number:</td><td><%= f.text_field :contact_person_number, :class=>"form-control" %></td></tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">                  
          <div class="form-group col-xs-3">
            <%= f.submit "Update Details", :class=>"form-control btn btn-success" %>
          </div>
          <div class="form-group col-xs-3">
            <%= link_to "Cancel",'profile', :class=>"form-control btn btn-warning" %>
          </div>
      </div>
      <%end%>
    </div>
  </div>
</div>