<% javascript 'dynamic_expertlist' %>
<%= form_for([@recruiter, @recruiter.programs.build]) do |f| %>
	<div class="form-horizontal" id="addprog"> 	  
		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="col-xs-12 col-md-12 col-sm-12 tcenter">
				What Expertise(Skill Set) you are looking for?
				<br>
				<%= f.collection_select(:category, Category.all, :id, :name, {:prompt   => "Select Category"}) %> 
				<span id="pcat" style="color:red"><br>Please select category.</span>
				<p id="expertise_field" style="margin-top:1%;font-size:16px;">
					Select Expertise<br>
					<%= f.select :expertise,:promt=>'Select Expertise'%> 
				</p>
				<%#= f.select :category, ['It','Social Networking','Marketing'], :class=>"form-control" %>
			</div>
			<div class="col-xs-12 col-md-6 col-sm-12">
				Program Type<span id="ptype" style="color:red"> (is mandatory.)</span><br><%= f.text_field :name, :class=>"form-control" %>
			</div>
			<div class="col-xs-12 col-md-6 col-sm-12">
				Program Location<span id="pcity" style="color:red"> (is mandatory.)</span><br><%= f.text_field :city,:class=>"form-control"  %>
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12">
				<div class="col-md-1"></div>
				<div class="col-xs-12 col-md-10 col-sm-12">
					Program Brief<span id="pbrief" style="color:red"> (is mandatory.)</span><br><%= f.text_area :program_details, :size=>'0x5',:class=>"form-control"  %>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12">
				Program Dates<br>
				<%= f.date_select :start_date,:start_year => Date.today.year, order:[:day,:month,:year],:class=>"form-control" %>
				&nbsp;to&nbsp;				
				<%= f.date_select :end_date,:start_year => Date.today.year, order:[:day,:month,:year],:class=>"form-control" %>
				<span id='startdateerror' style="color:red;font-size:12px;">Error : Invalid Start Date<br></span>
				<span id='enddateerror' style="color:red;font-size:12px;">Error : Invalid End Date<br></span>
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12 topmargin">
				<div class="col-md-1"></div>
				<div class="col-xs-12 col-md-5 col-sm-12">
					Duration<span id="pduration" style="color:red"> (Not valid.)</span><br>
					<%= f.text_field :duration, :placeholder=>"Program Duration",:class=>"form-control" %>
				</div>
				<div class="col-xs-12 col-md-4 col-sm-12 topmargin">
					<%= f.select :duration_type,['Select Duration Type','Hours','Days','Weeks'], :class=>"form-control" %>
					<span id="pdurtype" style="color:red"><br>Please select duration type.</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12">
				<div class="col-md-1"></div>
				<div class="col-xs-12 col-md-5 col-sm-12">
					Trainer Fees<span id="ppaytype" style="color:red"> (not valid)</span><br>
					<%= f.text_field :payment_detail,:placeholder=>"Trainer Fees",:class=>"form-control" %>
				</div>
				<div class="col-xs-12 col-md-5 col-sm-12 topmargin"> 
					per<%= f.select :payment_type,['Day','Hour'],:class=>"form-control" %>&nbsp;in&nbsp;<%= f.select :currency,['INR','USD'],:class=>"form-control" %>
				</div>
			</div>
			<%#<div class="col-xs-12 col-md-12 col-sm-12 tcenter topmargin">
				<p>Along With</p>
				<div class="col-md-4 col-xs-12 col-sm-12">
					<%= f.check_box :travel_expense %><%# Travel Expenses
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12"> 
					<%= f.check_box :food_expense %> <%#Food Expenses
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12">
					<%= f.check_box :stay_expense %> <%#Travel Expenses
				</div>
			</div>%>
		</div>		
		<div class="col-xs-12 col-md-12 col-sm-12 topmargin" style="margin-bottom:10px;">
			<table>
				<tr>
					<td><%= f.button "Post Program", :id=>'submitprog',:onclick=>"checkform()",:class=>"btn btn-success" %></td><td>&nbsp;</td>
					<td><%= link_to "Cancel", "myaccount", :class=>"btn btn-warning" %></td>
				</tr>
			</table>
		</div>
	</div>
<%end%>

