<script type="text/javascript">
  $( document ).ready(function() {
       $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 3 // Creates a dropdown of 15 years to control year
  });
}); 
</script>
<script type="text/javascript">
	function onlyNos(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            catch (err) {
                alert(err.Description);
            }
        }
</script>
<%= form_for([@recruiter, @recruiter.programs.build]) do |f| %>
	<div class="form-horizontal profile-body" id="addprog">
		<div class="col s12 m12 l12">
			<div class="col s12 m12 l12 input-field">
				What Expertise(Skill Set) you are looking for?<br>
				<%= f.collection_select(:category, Category.all, :id, :name, {:prompt   => "Select Category"},{:class=>"collectionselect"}) %>
				<span id="pcat" style="color:red"><br>Please select category.</span>
			</div>
			<div class="col s12 m12 l12 input-field">
				<p id="expertise_field" style="margin-top:1%;font-size:16px;">
					Select Expertise<br>
					<%= f.select :expertise,:class=>"form-control"%> 
				</p>			
			</div>
			<div class="col s12 m6 l6 input-field">
				<%= f.label :name, "Program Name" %>
				<%= f.text_field :name, :class=>"form-control" %>
			</div>
			<div class="col s12 m6 l6 input-field">
				<%= f.label :city, "Location" %>
				<%= f.text_field :city, :class=>"form-control" %>
			</div>
			<div class="col s12 m12 l12 input-field">
				<%= f.label :program_details, "Program Details" %>
				<%= f.text_area :program_details, :class=>"materialize-textarea form-control" %>
			</div>
			<div class="col s12 m6 l6 input-field">
				<%= f.label :start_date,"Starting From" %>
				<%= f.text_field :start_date, :class=>"datepicker" %>
			</div>
			<div class="col s12 m6 l6 input-field">
				<%= f.label :end_date,"Ends on" %>
				<%= f.text_field :end_date, :class=>"datepicker" %>
			</div>
			<div class="col s6 m3 l3 input-field">
				<%= f.label :duration, "Duration" %>
				<%= f.text_field :duration, :placeholder=>"Program Duration",:onkeypress=>"return onlyNos(event,this);",:maxlength=>"3",:class=>"" %>
			</div>
			<div class="col s6 m3 l3 input-field">
				<%= f.select :duration_type,['Duration Type','Hours','Days','Weeks','Months'], :class=>"" %>
			</div>
			<div class="col s4 m1 l1 input-field">
				<%= f.label :payment_detail, "Payment" %>
				<%= f.text_field :payment_detail,:maxlength=>"7",:placeholder=>"Trainer Fees",:onkeypress=>"return onlyNos(event,this);",:class=>"" %>
			</div>
			<div class="col s4 m3 l3 input-field">
				<%= f.select :payment_type,['Per Day','Per Hour','Per Week','Per Month'],:class=>"" %>
			</div>
			<div class="col s4 m2 l2 input-field">
				<%= f.select :currency,['Select Currency','INR','USD'],:class=>"" %>
			</div>
			<div class="input-field col m4 l4 s12">
				<%= f.check_box :travel_expense,:class=>"filled-in" %>
        		<%= f.label :travel_expense,"Travel Expenses" %>
			</div>
			<div class="input-field col m4 l4 s12">
				<%= f.check_box :food_expense,:class=>"filled-in" %>
        		<%= f.label :food_expense,"Food Expenses" %>
			</div>
			<div class="input-field col m4 l4 s12">
				<%= f.check_box :stay_expense,:class=>"filled-in" %> 
				<%= f.label :stay_expense,"Stay Expenses" %>
			</div>
			<div class="col s12 m12 l12 topmargin tcenter">
			<table>
				<tr>
					<td><%= f.button "Post Program", :id=>'submitprog',:onclick=>"checkform()",:class=>"btn btn-success" %></td><td>&nbsp;</td>
					<td><%= link_to "Cancel", "myaccount", :class=>"btn red lighten-3" %></td>
				</tr>
			</table>
		</div>
		</div>		
	</div>
<%end%>