<% if program.name!=nil %>
	<ul class="collection" style="background-color:#fff;font-size:0.9em;font:'Arimo',sans-serif;">
    <li class="collection-item">
      <div class="col s12 m6 l6">
        <ul>
          <li>
            <b><span style="color:#e37343;">Program Name</span></b>: <br>
            <ol>
              <li><%= program.name %></li>
            </ol>
          </li>
          <li>
            <b><span style="color:#e37343;">Payment Details</span></b>: <br>
            <ol>
              <li><%= program.currency %>. <%= program.payment_detail %> / <%= program.payment_type %></li>
              <% if program.food_expense=='Yes' || program.travel_expense=='Yes' || program.stay_expense=='Yes' %> 
                <li>
                  <span style="color:#e37343;">Includes Following</span>
                  <ol>
                    <% if program.food_expense=='Yes' %>
                      <li>Food Expense</li>
                    <%end%>
                    <% if program.travel_expense=='Yes' %>
                      <li>Travel Expense</li>
                    <%end%>
                    <% if program.stay_expense=='Yes' %>
                      <li>Lodging Expense</li>
                    <%end%>
                  </ol>
                </li>
              <%end%>
            </ol>
          </li>          
          <li>
            <b><span style="color:#e37343;">Venue Details</span></b>: <br>
            <ol>
              <li><%= program.venue %></li>
              <li>
                <% if program.city!='not mentioned' %>
                  <%= program.city %>,
                <% end %> 
                <% if program.state!='not mentioned' %>
                  <%= program.state %>,
                <% end -%>
                <% if program.country %>
                  <%= program.country %>
                <%end%>
              </li>
            </ol>
          </li>
        </ul>
      </div>
      <div clas="col s12 m6 l6">
          <ul>
            <li>
              <b><span style="color:#e37343;">Schedule</span></b>:
              <ol>
                <li><%= program.start_date %> To <%= program.end_date %></li>
              </ol>
            </li>
            <li>
              <b>
                <span style="color:#e37343;">Program Details</span></b>:<br>
	            <span class="justify">
	              <%= program.program_details %>
	            </span>
            </li>
            <li>
              <b>
                <span style="color:#e37343;">Posted On</span></b>:<br>
	              <ol>
	                <li><%= DateTime.parse(program.created_at.to_s).strftime("%m-%d-%Y") %></li>
	              </ol>
            </li>
          </ul>
      </div>
      <div class="col s12 m12 l12" style="margin-bottom:2%;">
        <div align="right">
          <%= link_to 'Remove', program, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn red lighten-3" %> 
        </div>
      </div>
    </li>
  </ul>
<%end%>