	<% if program.name!=nil %>
	<div class="col-xs-12 col-sm-12 col-md-12 progbox" style="width:100%;">	
		<div class="textheading">
			<%= program.name %>, <% if program.category!="Select Category" %> posted in <%= program.category %> Category<%end%>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12" style="padding:5px;">
			<b><u>Program Details</u></b>
			<p>
				<b>Desired Expertise</b> : <%= program.category %>
				<% if program.expertise? %>
					<% if program.expertise != "Select Expertise" %>
					,<%= program.expertise %>
					<%end%>
				<%end%>
			</p>
			<p><%= program.program_details %></p>
			<hr>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<b>Venue Details</b>
				<p><%= program.city%><%#<%= program.venue , , <%=program.state, <%= program.country %></p>
				<p><span class="orange"><%= program.start_date %></span> to <span class="orange"><%= program.end_date %></span></p>
			</div>				
			<div class="col-xs-6 col-sm-6 col-md-3">
				<b>Program Duration</b>
				<p>
					<%= program.duration %> 
					<% if program.duration_type=="Select Duration Type" %>
					Not Mentioned
					<%else%>
					<%= program.duration_type %>
					<%end%>
				</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<b>Payment Details</b>
				<p><%= program.payment_detail %> <%= program.currency %> <%= program.payment_type %></p>
			</div>				
			<div class="col-xs-6 col-sm-6 col-md-3">
				<b>Included Expenses</b>
				<% if program.food_expense!='No' || program.travel_expense!='No' ||  program.stay_expense!='No' %>
				<p>
					<% if program.food_expense!='No' %>
					<ul><li>Food Expense Included</li></ul
						<%end%>
						<% if program.travel_expense!='No' %>
						<ul><li>Travel Expense Included</li></ul>
						<%end%>
						<% if program.stay_expense!='No' %>
						<ul><li>Lodging Expense Included</li></ul>
						<%end%>
					</p>
					<%else%>
					<p class="orange">Additional Expenses not Covered.</p>

					<%end%>
				</div>
				<hr>
			</div>
			<div align="right">
				<%#= link_to 'Edit', edit_program_path(id), :class=>"btn btn-success btn-sm" %>
				<%= link_to 'Remove', program, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %>
			</div>
		</div>
	<%end%>
