<script type="text/javascript">
$(document).ready(function(){
      setTimeout(function(){
      $("#notice").hide("slow");
     },10000);
  });
</script>
<%#<div class="col-xs-2">
  <div style="border:1px solid black;height:400px;">
    <div class="searchheader">Categories</div>
      <% @program.each do |program| %><%#
        <% if program.category?%><%#
            <li style="list-style:none;margin-left:10px;">
              <input type="checkbox"> <%= program.category %><%#</input>
            </li>
        <%end%><%#
      <%end%><%#
  </div>
</div>%>
<div class="col-xs-12 col-md-12 col-sm-12">
  <div class="col-xs-12 col-md-12 col-sm-12 topmargin">
        <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <%= form_tag(programs_path, :method => "get", id: "search-form") do %>
    <div class="col-xs-10 col-md-10 col-sm-10">
      <%= text_field_tag :search, params[:search], placeholder: "Search Programs",:class=>"form-control" %>
      <% if @program.present? %>
        <%if params[:search].nil? %>
          <p>Showing all programs.</p>
        <%else%>
          <p>Showing result matching "<%= params[:search] %>".</p>
        <%end%>
      <% else %>
        <p>There are no programs containing the term(s) <%= params[:search] %>.</p>
      <% end %>
    </div>
    <div class="col-xs-2 col-md-2 col-sm-2">
      <%= submit_tag "Search",:class=>"btn btn-success glyphicon glyphicon-search pull-left" %>
    </div>
  <% end %>    
  <div class="col-xs-12 col-sm-12 col-md-12 lato table-responsive">
    <h4 class="orange"><b>Available Training Programs</b></h4>  
      <table class="table table-hover">
        <thead>
          <tr class="textheading">
            <th width="15%">Listed Date</th>
            <th width="40%">Project Details</th>
            <th width="20%">Covered Expenses</th>
            <th width="15%">Dates</th>
            <th width="10%">Option</th>
          </tr>
        </thead>
        <tbody>
        <% @program.each do |program| %>
          <tr class="">
            <td width="15%"><%= program.created_at.to_date %></td>
            <td width="40%">
              <span class="orange"><%= program.name %></span><br>
              <%= program.program_details %><br><br>
              <u>Expertise</u><br>
              <span class="orange"><%= program.expertise %></span>
            </td>
            <td width="20%">
              <% if program.food_expense =='No' && program.travel_expense == 'No' && program.stay_expense == 'No' %>
                <span class="glyphicon glyphicon-remove orange"></span>
                <span class="orange"> Expenses not included</span>
              <%else%>
                <% if program.food_expense =='Yes' %>
                  <span class="glyphicon glyphicon-ok" style="color:#2C8E00;"></span>
                  <span style="color:#2C8E00;margin-bottom:5px;"> Food expenses included.<br></span>
                <%end%>
                <% if program.travel_expense =='Yes' %>
                  <span class="glyphicon glyphicon-ok" style="color:#2C8E00;"></span>
                  <span style="color:#2C8E00;margin-bottom:5px;"> Travel expenses included.<br></span>
                <%end%>
                <% if program.stay_expense =='Yes' %>
                  <span class="glyphicon glyphicon-ok" style="color:#2C8E00;"></span>
                  <span style="color:#2C8E00;margin-bottom:5px;"> Stay expenses included.<br></span>
                <%end%>
              <%end%>
            </td>            
            <td width="15%">
              <span class="center"><%= program.start_date %><br>to<br><%= program.end_date %></span>
            </td>
            <% if trainer_signed_in? %> 
              <td width="10%">
                  <%= link_to image_tag("icons/save.png",:width=>"40%"), savedprograms_path(:program_id=>program, :trainer_id=>current_trainer.id),:method=>:post %>
                  <%= link_to image_tag("icons/apply.png",:width=>"40%"), appliedprograms_path(:program_id=>program, :trainer_id=>current_trainer.id),:method=>:post %>
              </td>  
            <%elsif recruiter_signed_in? %>
              <td width="10%">
                <p>Only Trainers can Apply</p>
              </td>
            <%else%>
              <td width="10%">
                <%= link_to image_tag("icons/save.png",:width=>"40%"), savedprograms_path(:program_id=>program),:method=>:post %>
                <%= link_to image_tag("icons/apply.png",:width=>"40%"), appliedprograms_path(:program_id=>program),:method=>:post %>
              </td>
            <%end%>
          </tr>          
          <%end%>
          <div style="margin-bottom:5px;">&nbsp;</div>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pagination" style="text-align:right">
      <%= will_paginate @program, renderer: BootstrapPagination::Rails %>
    </div>
</div>
