<script type="text/javascript">
$(document).ready(function(){
      setTimeout(function(){
      $("#notice").hide("slow");
     },10000);
  });
</script>
<%#<div class="col-xs-2">
  <div style="border:1px solid black;height:400px;">
    <div class="searchheader">Categories</div>
      <% @program.each do |program| %><%#
        <% if program.category?%><%#
            <li style="list-style:none;margin-left:10px;">
              <input type="checkbox"> <%= program.category %><%#</input>
            </li>
        <%end%><%#
      <%end%><%#
  </div>
</div>%>
<div class="col s12 l12 m12">
  <div class="col s12 m12 l12 topmargin">
        <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <div class="col m3 s12 l3">
    <div class="filters">
      <div class="form-inline" style="margin-bottom:2%;">
        <%= form_tag(programs_path, :method => "get", id: "search-form") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search Programs",:class=>"form-control",:size=>24 %>
          </div>
          <!--i class="material-icons">search</i-->
          <div class="form-group">
            <%= button_tag( :class =>"btn btn-success") do %>
              <i class="material-icons">search</i>
            <% end %>
            <%#= submit_tag " Search ",:class=>"btn btn-success",:style=>"margin-left:0px;" %>
          </div>
        <%end%>
      </div>
      <div class="panel panel-default">
        <div class="panel-success">
             <h5 class="panel-heading" style="margin-top:0px;"><b>Category</b></h5>  
        </div>
        <div class="panel-body">
          <% for row in @query.facet(:category).rows %>
            <li style="list-style:none;margin-bottom:5px;">
                <% if params[:category].blank? %>
                    <%= link_to row.value, :category => row.value %> (<%= row.count %>)
                <% else %>
                    <%= row.value %> (<%= link_to "X", :category => nil %>)
                <% end %>
            </li>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-success">
          <h5 class="panel-heading" style="margin-top:0px;"><b>Expertise</b></h5>  
        </div>
        <div class="panel-body">
        <% for row in @query.facet(:expertise).rows %>
            <li style="list-style:none;margin-bottom:5px;">
                <% if params[:expertise].blank? %>
                    <%= link_to row.value, :expertise => row.value%> (<%= row.count %>)
                <% else %>
                    <%= row.value %> (<%= link_to "X", :expertise => nil %>)
                <% end %>
            </li>
        <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-success">
          <h5 class="panel-heading" style="margin-top:0px;"><b>City</b></h5>  
        </div>
        <div class="panel-body">
        <% for row in @query.facet(:city).rows %>
            <li style="list-style:none;margin-bottom:5px;">
                <% if params[:city].blank? %>
                    <%= link_to row.value, :city => row.value%> (<%= row.count %>)
                <% else %>
                    <%= row.value %> (<%= link_to "X", :city => nil %>)
                <% end %>
            </li>
        <% end %>
        </div>
      </div>
    </div>
  </div>  
  <div class="col s12 m9 l9">
    <% @program.each do |program| %>
      <ul class="collection" style="background-color:#fff;font-size:0.9em;font:'Arimo',sans-serif;">
        <li a href="#!" class="collection-item">
          <div class="col s12 m6 l6">
            <ul>
              <li><span style="color:#e37343;"><b>Program Name</b>: <%= program.name %></span></li>
              <li><b>Category</b>: <%= program.category %></li>
              <% if program.expertise %>
                <li><b>Expertise Required</b>
                  <ul>
                    <li style="list-style:disc;margin-left:4%;"><%= program.expertise %></li>
                  </ul>
                </li>
              <%end%>
              <li>
                <b>Start Date</b>: <%= program.start_date %>
              </li>
              <li>
                <b>End Date</b>: <%= program.end_date %>
              </li>
              <li style="margin-bottom:3%;"><b>Program Details</b>:<br> <%= program.program_details %></li>
            </ul>
          </div>
          <div class="col s12 m4 l4">
            <% if program.food_expense =='No' && program.travel_expense == 'No' && program.stay_expense == 'No' %>
              <span class="glyphicon glyphicon-remove"></span>
              <span class="red-text lighten-1"> Expenses not included</span>
            <%else%>
              <% if program.food_expense =='Yes' %>
                <span class="glyphicon glyphicon-ok" style="color:#2C8E00;"></span>
                <span style="color:#2C8E00;margin-bottom:5px;"> Food expenses included.<br></span>
              <%end%>
              <% if program.travel_expense =='Yes' %>
                <span class="glyphicon glyphicon-ok" style="color:#2C8E00;"></span>
                <span style="color:#2C8E00;margin-bottom:5px;"> Travel expenses included.<br></span>
              <%end%>
              <% if program.stay_expense =='Yes' %>
                <span class="glyphicon glyphicon-ok" style="color:#2C8E00;"></span>
                <span style="color:#2C8E00;margin-bottom:5px;"> Stay expenses included.<br></span>
              <%end%>
            <%end%>
          </div>
          <div class="col s12 m2 l2">
            <% if trainer_signed_in? %>
              <%= link_to image_tag("icons/save.png",:width=>"40%",:title=>"Save Program"), savedprograms_path(:program_id=>program, :trainer_id=>current_trainer.id),:method=>:post %>
              <%= link_to image_tag("icons/apply.png",:width=>"40%",:title=>"Apply"), appliedprograms_path(:program_id=>program, :trainer_id=>current_trainer.id),:method=>:post %>
            <%elsif recruiter_signed_in? %>
                <p>Only Trainers can Apply</p>
            <%else%>
                <%= link_to image_tag("icons/save.png",:width=>"40%",:title=>"Save Program"), savedprograms_path(:program_id=>program),:method=>:post %>
                <%= link_to image_tag("icons/apply.png",:width=>"40%",:title=>"Apply"), appliedprograms_path(:program_id=>program),:method=>:post %>
            <%end%>
          </div>    
        </li>
      </ul>
    <%end%>
  </div>
  <div class="col s12 m12 l12 pagination" style="text-align:right">
    <%= will_paginate @program, renderer: BootstrapPagination::Rails %>
  </div>
</div>

