<div class="col-xs-12">
	<div class="qbox">
			<table class="table">
				<tr>
					<th><b>Expertise In</b></th>
					<th><b>Professional Expertise Info</b></th>
					<th><b>Reference Name</b></th>
					<th><b>Reference Number</b></th>
					<th><b>Reference Email</b></th>
					<th><b>Expertise Verified or Not?</b></th>
				</tr>
				<tr>
					<td><%= expertise.expertise_in %></td>
					<td><%= expertise.professional_expertise_info %></td>
					<td><%= expertise.reference_name %></td>
					<td><%= expertise.reference_number %></td>
					<td><%= expertise.reference_email %></td>
					<td><%= expertise.expertise_verified_status %></td>
				</tr>
			</table>
		    <div align="right">
		    	<%= link_to 'Remove', expertise, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %>
		    </div>
	</div>
</div>