<div class="">
	<% if expertise.expertise_in!=nil %>
		<ul class="collection" style="background-color:#fff;font-size:0.9em;font:'Arimo',sans-serif;">
			<li class="collection-hd">
				<div class="text-center">
					<h5>
						<span style="color:#e37343;">
							<%= expertise.expertise_in %>
						</span>
					</h5>
				</div>
			</li>
			<li class="collection-item">
				<div class="col s12 m6 l6">
					<ul>
						<li>
              				<b><span style="color:#e37343;">Reference #1</span></b>: <br>
              					<ol>
              						<li><%= expertise.reference_name %></li>
              						<li><%= expertise.reference_number %></li>
              						<li><%= expertise.reference_email %></li>
              					</ol>
              			</li>
              			<li>
              				<b><span style="color:#e37343;">Reference #2</span></b>: <br>
              					<ol>
              						<li><%= expertise.reference_name1 %></li>
              						<li><%= expertise.reference_number1 %></li>
              						<li><%= expertise.reference_email1 %></li>
              					</ol>
              			</li>
					</ul>
				</div>
				<div clas="col s12 m6 l6">
					<ul>
						<li>
							<b>
								<span style="color:#e37343;">Professional Expertise Info</span>
							</b>:<br>
							<span class="justify">
								<%= expertise.professional_expertise_info %>
							</span>
						</li>
					</ul>
				</div>
				<div class="col s12 l12 m12" style="margin-bottom:10px;">
				  <% if trainer_signed_in? %>
			    	<div align="right">
			    	  	<% if expertise.expertise_verified_status =='UnVerified' %>    	
					    	<%= link_to "Update","#editexpertmodal_#{expertise.id}",:class=>"btn btn-success modal-trigger",:id=>"editexpertise"%>
				    		<%= link_to 'Remove', expertise, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-success red lighten-2" %>
				     	<%else%>
				      		<%= link_to 'Remove', expertise, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-success red lighten-2" %>
				    	<%end%>
				    </div>
				  <%end%>
				</div>
			</li>			
		</ul>
	<% end %>
</div>
<div id='<%="editexpertmodal_#{expertise.id}"%>' class="modal">
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">
          Edit Expertise<br> <!--span style="color:red;margin-left:10px;font-size:12px;">* All Fields are mandatory.</span-->
        </h5>
        <%= render "expertises/editform", expertise: expertise %>
        &nbsp;
      </div>
  </div>
</div>