<div class="col-xs-12 col-md-12 col-sm-12">
	<% if expertise.expertise_in!=nil %>
		<div class="qbox">
			<table class="table">
				<tr>
					<th><b>Expertise In</b></th>
					<th><b>Prof Expertise Info</b></th>
					<th><b>Ref Name</b></th>
					<th><b>Ref Number</b></th>
					<th><b>Ref Email</b></th>
					<th><b>Verified or Not?</b></th>
				</tr>
				<tr>
					<td><%= expertise.expertise_in %></td>
					<td><%= expertise.professional_expertise_info %></td>
					<td><%= expertise.reference_name %><br><%= expertise.reference_name1 %></td>
					<td><%= expertise.reference_number %><br><%= expertise.reference_number1 %></td>
					<td><%= expertise.reference_email %><br><%= expertise.reference_email1 %></td>
					<td><%= expertise.expertise_verified_status %></td>
				</tr>
			</table>
			<% if trainer_signed_in? %>
		    	<div align="right">
		    	  <% if expertise.expertise_verified_status =='UnVerified' %>    	
		    		<%= link_to 'Update', "#",'data-target'=>"#editexpertmodal_#{expertise.id}","data-toggle" => "modal", :class=>"btn btn-success btn-sm" %>	
		    		<%= link_to 'Remove', expertise, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %>
		    	  <%else%>
		    	  	<%= link_to 'Remove', expertise, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %>
		    	  <%end%>
		    	</div>
		    <%end%>
		</div>
	<%end%>
</div>
<div id='<%="editexpertmodal_#{expertise.id}"%>' class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Edit Expertise</h4>
          </div>
          <div class="modal-body">
          		<%= render 'expertises/editform', expertise: expertise %>
          		&nbsp;
          </div>
	  </div>
  </div>
</div>