<div class="col-xs-12">
	<div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Approve / Reject Expertise</b></h3>
       </div>
     </div>

<%= form_for(@expertise) do |f| %>
<div class="col-xs-12">
  <p id="notice"><%= notice %></p>  
  <table class="table table-bordered">
    <tr><td>Expertise</td><td><%= f.text_field :expertise_in, :disabled=>true, :class=>"form-control col-xs-6" %></td></tr>
    <tr><td>Professional</td><td><%= f.text_field :professional_expertise_info, :disabled=>true, :class=>"form-control col-xs-6" %></td></tr>
    <tr><td>Reference Name</td><td><%= f.text_field :reference_name, :disabled=>true, :class=>"form-control" %></td></tr>
    <tr><td>Reference Number</td><td><%= f.text_field :reference_number, :disabled=>true, :class=>"form-control" %></td></tr>
    <tr><td>Reference Email</td><td><%= f.text_field :reference_email, :disabled=>true, :class=>"form-control" %></td></tr>
    <tr>
      <td>Verified Status</td>
      <td><%= f.select :expertise_verified_status,['UnVerified','Verified'], :class=>"form-control" %></td>
    </tr>
    <tr>
      <td>Select Comments</td>
      <td>
        <%= f.select :comments,['Call Not Received','Wrong Details','Positive','Negative','Asked to call back'], :class=>"form-control" %>
      </td>
    </tr>
  </table>

  <table width="100%">
      <tr>
        <td><%= f.submit :"Update Details", :class=> 'btn btn-success col-xs-11' %></td>
        <td><%= f.submit :"Cancel", :class=> 'btn btn-warning col-xs-11' %></td>
      </tr>
  </table>
  <div style="height:10px;"></div>
  <%end%>
  </div>
</div>