  <script type="text/javascript">
	$(document).ready(function(){
			$("#work").hide();
			$("#workb").click(function(){
				$("#work").show();
				$("#recruit").hide();
			});
		  }
	);
	$(document).ready(function(){
			$("#recruitbs").click(function(){
				$("#work").hide();
				$("#recruit").show();
			});
		  }
	);
    $(document).ready(function(){
    	  setTimeout(function(){
      	  $("#notice").hide("slow");
     	},1000);
  	});
  </script>

<div id="recruit">
	<% if notice %>
		<p id="notice"><%= notice %></p>
	<%end%>
	<div class="mainbanner">
		<br>
		<% if recruiter_signed_in?  %>
			<div class="bannertext" style="margin-top:10%">
				HIRE THE BEST TRAINERS FOR YOUR <br> NEXT TRAINING PROGRAM
			</div>
		<%elsif trainer_signed_in? %>
			<div class="bannertext" style="margin-top:10%">
				FIND YOUR NEXT TRAINING <br> PROGRAM WITH LESS LEGWORK
			</div>
		<%else%>
			<div id="buttons">
				<a class="btn btn-default bannerbtn selected">Recruit</a>
				<a class="btn btn-default bannerbtn" id="workb">Work</a>
			</div>
			<div class="bannertext">
				HIRE THE BEST TRAINERS FOR YOUR <br> NEXT TRAINING PROGRAM
			</div>
			<div>
				<%= link_to "in | Sign Up with LinkedIn", new_recruiter_registration_path, :class=>"btn btn-success bannerbtn" %>
				<br>
				<span style="color:white;font-weight:bold;font-size:20px;">Or</span>
				<br>
				<%= link_to "Sign Up with Mail", new_recruiter_registration_path, :class=>"bannerbtntext" %>
			</div>
		<%end%>	
	</div>
	<div id="how" class="col-xs-12">
		<div class="col-xs-6">
			<h3 class="titletxt"><u>How it Works</u></h3>
			<div class="greytxt">
				<p>Find a trainer in 5 easy steps</p>
				<ol style="list-style-type:decimal">
					<li>Sign Up as a recruiter.</li>
					<li>Complete and submit your profile.</li>
					<li>Define the pay range.</li>
					<li>Search for trainers in our database.</li>
					<li>Let us contact them for you.</li>
				</ol>
			</div>
		</div>
		<div class="col-xs-6">
			<%= image_tag("video.jpg") %>
		</div>
	</div>
	<div id="why" class="col-xs-12">
		
			<h1 class="heading tcenter">WHY TRAIX</h1>
			<p style="text-align:center"><b>In pre-traix era companies as well as trainers were hugely dependant on personal connections. Many training programs went haywire because of unavailability of trainers.</b></p>
		<div class="col-xs-4">
			<div style="padding:10px 10px 0px 130px">
				<%= image_tag("circle.jpg")%>
			</div>
			<h3 class="titletxt tcenter">Complete Integration</h3>
			<p class="greytxt tcenter">Traix provides complete integration platform for trainers to manage their training programs, from scheduling to payments.</p>
		</div>
		<div class="col-xs-4">
			<div style="padding:10px 10px 0px 130px">
				<%= image_tag("circle.jpg")%>
			</div>
			<h3 class="titletxt tcenter">Verified Database</h3>
			<p class="greytxt tcenter">The team at Traix verifies each company and individuals at out platform along with the training programmes posted on our site.</p>
		</div>
		<div class="col-xs-4">
			<div style="padding:10px 10px 0px 130px">
				<%= image_tag("circle.jpg")%>
			</div>
			<h3 class="titletxt tcenter">Privacy and Total Control</h3>
			<p class="greytxt tcenter">All details you post on our platform are private and are visible to only those you allow.</p>
		</div>
	</div>
</div>

<div id="work">
	<div class="mainbanner">
		<br>
		<% if trainer_signed_in? || recruiter_signed_in? %>
			<div class="bannertext" style="margin-top:10%">
				FIND YOUR NEXT TRAINING <br> PROGRAM WITH LESS LEGWORK
			</div>
		<%elsif recruiter_signed_in?  %>
			<div class="bannertext" style="margin-top:10%">
				HIRE THE BEST TRAINERS FOR YOUR <br> NEXT TRAINING PROGRAM
			</div>					
		<%else%>
			<div id="">
				<a class="btn btn-default bannerbtn"  id="recruitbs">Recruit</a>
				<a class="btn btn-default bannerbtn selected" >Work</a>
			</div>
			<div class="bannertext">
				FIND YOUR NEXT TRAINING <br> PROGRAM WITH LESS LEGWORK
			</div>
			<div>
				<%= link_to "in | Sign Up with LinkedIn", new_trainer_registration_path, :class=>"btn btn-success bannerbtn" %>
				<br>
				<span style="color:white;font-weight:bold;font-size:20px;">Or</span>
				<br>
				<%= link_to "Sign Up with Mail", new_trainer_registration_path, :class=>"bannerbtntext" %>
			</div>
		<%end%>
	</div>
	<div id="how" class="col-xs-12">
		<div class="col-xs-6">
			<h3 class="titletxt"><u>How it Works</u></h3>
			<div class="greytxt">
				<p>Find a training project in 5 easy steps</p>
				<ol style="list-style-type:decimal">
					<li>Sign Up as a trainer.</li>
					<li>Complete and submit your profile</li>
					<li>Fill up referrals</li>
					<li>Select list of your domains</li>
					<li>Set your schedule and fees</li>
				</ol>
			</div>
		</div>
		<div class="col-xs-6">
			<%= image_tag("circle.jpg")%>
		</div>
	</div>
	<div id="why" class="col-xs-12">
		
			<h1 class="heading tcenter">WHY TRAIX</h1>
			<p style="text-align:center"><b>In pre-traix era companies as well as trainers were hugely dependant on personal connections. Many good trainers don't get the programs because either they don't had connections or they never came to know about the availability of such programs</b></p>
		<div class="col-xs-4">
			<div style="padding:10px 10px 0px 130px">
				<%= image_tag("circle.jpg")%>
			</div>
			<h3 class="titletxt tcenter">Complete Integration</h3>
			<p class="greytxt tcenter">Traix provides complete integration platform for trainers to manage their training programs, from scheduling to payments.</p>
		</div>
		<div class="col-xs-4">
			<div style="padding:10px 10px 0px 130px">
				<%= image_tag("circle.jpg")%>
			</div>
			<h3 class="titletxt tcenter">Verified Database</h3>
			<p class="greytxt tcenter">The team at Traix verifies each company and individuals at out platform along with the training programmes posted on our site.</p>
		</div>
		<div class="col-xs-4">
			<div style="padding:10px 10px 0px 130px">
				<%= image_tag("circle.jpg")%>
			</div>
			<h3 class="titletxt tcenter">Privacy and Total Control</h3>
			<p class="greytxt tcenter">All details you post on our platform are private and are visible to only those you allow.</p>
		</div>
	</div>
</div>