<%= form_for(@savedprogram) do |f| %>
  <% if @savedprogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@savedprogram.errors.count, "error") %> prohibited this savedprogram from being saved:</h2>

      <ul>
      <% @savedprogram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_id %><br>
    <%= f.text_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :trainer_id %><br>
    <%= f.text_field :trainer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
