<p id="notice"><%= notice %></p>

<h1>Listing Savedprograms</h1>

<table>
  <thead>
    <tr>
      <th>Program</th>
      <th>Trainer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @savedprograms.each do |savedprogram| %>
      <tr>
        <td><%= savedprogram.program %></td>
        <td><%= savedprogram.trainer %></td>
        <td><%= link_to 'Show', savedprogram %></td>
        <td><%= link_to 'Edit', edit_savedprogram_path(savedprogram) %></td>
        <td><%= link_to 'Destroy', savedprogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Savedprogram', new_savedprogram_path %>
