<% if trainer_signed_in? %>
  <% if appliedprogram.status=='forwardedtorecruiter' && appliedprogram.program.start_date >= Date.today %>
    <ul class="collection" style="background-color:#fff;font-size:0.9em;font:'Arimo',sans-serif;">
     <li class="collection-item">
      <div class="col s12 m6 l6">
        <ul>
          <li>
            <b><span style="color:#e37343;">Program Name</span></b>: <br>
            <ol>
              <li><%= appliedprogram.program.name %></li>
            </ol>
          </li>
          <li>
            <b><span style="color:#e37343;">Payment Details</span></b>: <br>
            <ol>
              <li><%= appliedprogram.program.currency %>. <%= appliedprogram.program.payment_detail %> / <%= appliedprogram.program.payment_type %></li>
              <% if appliedprogram.program.food_expense && appliedprogram.program.travel_expense && appliedprogram.program.stay_expense=='Yes' %> 
                <li>
                  <span style="color:#e37343;">Includes Following</span>
                  <ol>
                    <% if appliedprogram.program.food_expense=='Yes' %>
                      <li>Food Expense</li>
                    <%end%>
                    <% if appliedprogram.program.travel_expense=='Yes' %>
                      <li>Travel Expense</li>
                    <%end%>
                    <% if appliedprogram.program.stay_expense=='Yes' %>
                      <li>Lodging Expense</li>
                    <%end%>
                  </ol>
                </li>
              <%end%>
            </ol>
          </li>          
          <li>
            <b><span style="color:#e37343;">Venue Details</span></b>: <br>
            <ol>
              <li><%= appliedprogram.program.venue %></li>
              <li>
                <% if appliedprogram.program.city!='not mentioned' %>
                  <%= appliedprogram.program.city %>,
                <% end %> 
                <% if appliedprogram.program.state!='not mentioned' %>
                  <%= appliedprogram.program.state %>,
                <% end -%>
                <% if appliedprogram.program.country %>
                  <%= appliedprogram.program.country %>
                <%end%>
              </li>
            </ol>
          </li>
        </ul>
      </div>
      <div clas="col s12 m6 l6">
          <ul>
            <li>
              <b><span style="color:#e37343;">Dates</span></b>:
              <ol>
                <li><%= appliedprogram.program.start_date %> to <%= appliedprogram.program.end_date %></li>
              </ol>
            </li>
            <li>
              <b>
                <span style="color:#e37343;">Program Details</span>
              </b>:<br>
              <span class="justify">
                <%= appliedprogram.program.program_details %>
              </span>
            </li>
          </ul>
      </div>
      <div class="col s12 m12 l12" style="margin-bottom:2%;">
        <div align="right">
          <% if appliedprogram.status=='forwardedtorecruiter' %>
            <b>Application sent.</b>
          <%elsif appliedprogram.status=='rejected' %>
            Sorry! your application was rejected.
          <%else %>
            <a href="/contactus">Contact us</a> to know more.
          <% end -%>
        </div>
      </div>
    </li>
    </ul>
  <% elsif appliedprogram.status=='notinlist' || appliedprogram.program.start_date < Date.today %>
    <ul class="collection" style="border: 1px solid #e53935;background-color:#fff;font-size:0.9em;font:'Arimo',sans-serif;">
     <li class="collection-item">
      <div class="col s12 m6 l6">
        <ul>
          <li>
            <b><span style="color:#e37343;">Program Name</span></b>: <br>
            <ol>
              <li><%= appliedprogram.program.name %></li>
            </ol>
          </li>
          <li>
            <b><span style="color:#e37343;">Payment Details</span></b>: <br>
            <ol>
              <li><%= appliedprogram.program.currency %>. <%= appliedprogram.program.payment_detail %> / <%= appliedprogram.program.payment_type %></li>
              <% if appliedprogram.program.food_expense && appliedprogram.program.travel_expense && appliedprogram.program.stay_expense=='Yes' %> 
                <li>
                  <span style="color:#e37343;">Includes Following</span>
                  <ol>
                    <% if appliedprogram.program.food_expense=='Yes' %>
                      <li>Food Expense</li>
                    <%end%>
                    <% if appliedprogram.program.travel_expense=='Yes' %>
                      <li>Travel Expense</li>
                    <%end%>
                    <% if appliedprogram.program.stay_expense=='Yes' %>
                      <li>Lodging Expense</li>
                    <%end%>
                  </ol>
                </li>
              <%end%>
            </ol>
          </li>          
          <li>
            <b><span style="color:#e37343;">Venue Details</span></b>: <br>
            <ol>
              <li><%= appliedprogram.program.venue %></li>
              <li>
                <% if appliedprogram.program.city!='not mentioned' %>
                  <%= appliedprogram.program.city %>,
                <% end %> 
                <% if appliedprogram.program.state!='not mentioned' %>
                  <%= appliedprogram.program.state %>,
                <% end -%>
                <% if appliedprogram.program.country %>
                  <%= appliedprogram.program.country %>
                <%end%>
              </li>
            </ol>
          </li>
        </ul>
      </div>
      <div clas="col s12 m6 l6">
          <ul>
            <li>
              <b><span style="color:#e37343;">Dates</span></b>:
              <ol>
                <li><%= appliedprogram.program.start_date %> to <%= appliedprogram.program.end_date %></li>
              </ol>
            </li>
            <li>
              <b>
                <span style="color:#e37343;">Program Details</span>
              </b>:<br>
              <span class="justify">
                <%= appliedprogram.program.program_details %>
              </span>
            </li>
          </ul>
      </div>
      <div class="col s12 m12 l12" style="margin-bottom:2%;">
        <div align="right">
          <%= link_to 'Remove', appliedprogram, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn red lighten-3" %> 
        </div>
      </div>
    </li>
  </ul>
  <%end%>
<% end %>