<div class="col-xs-12 col-md-12 col-sm-12 topmargin">
        <%= render partial: "shared/flash_messages", flash: flash %> 
</div>

<div class="col-xs-12 col-md-12 col-sm-12 topmargin center">
  <h3 class="heading">List of Registered Trainers (<font color="blue"><b>Admin View</b></font>)</h3>
</div>

<div class="col-xs-12 col-md-12 col-sm-12 topmargin">
<h5 class="qh1"><b>Pending Trainer List</b></h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Trainer Id</th>
      <th>Email</th>
      <th width="10%">Last Login</th>
      <th>Login Type</th>
      <th>Name</th>
      <th>Number</th>
      <th>D.O.B</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @trainer.each do |trainer| %>
      <% if trainer.profile_status=="Pending" || trainer.profile_status=="pending"%>
      <tr>
        <td><%= trainer.id%></td>
        <td><%= trainer.email %></td>
        <td><%= trainer.current_sign_in_at %></td>
        <td><%= trainer.login_type %></td>
        <% if trainer.address? %>
          <td><%= trainer.full_name %></td>
        <% else %>
          <td><font color="red">Blank</font></td>
        <% end %>
        <td><%= trainer.primary_number %></td>
        <td><%= trainer.birth_date %></td>
        <% if trainer.gender =="not selected" %>
          <td><font color="red">Blank</font></td>
        <% else %>
          <td><%= trainer.gender %></td>
        <% end %>
        <% if trainer.address? %>
          <td><%= trainer.address %>,<br><%= trainer.city %>, <%= trainer.state %>,<%= trainer.country %></td>
        <% else %>
          <td><font color="red">Blank</font></td>
        <% end %>
        <td><%= trainer.created_at.to_date %></td>
        <td>
          <%= link_to 'Approve', approve_trainer_path(trainer.id),method: 'get', :class=>"label label-success" %>
          <%= link_to 'Reject', reject_trainer_path(trainer.id),method: 'get', :class=>"label label-danger" %>
        </td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 topmargin">
  <div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#approved">Approved Trainers</a>
            </h4>
        </div>
        <div id="approved" class="panel-collapse collapse">
            <div class="panel-body">
              <%= render partial: "trainers/approved" %>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#rejected" href="#collapseOne">Rejected Trainers</a>
            </h4>
        </div>
        <div id="rejected" class="panel-collapse collapse">
            <div class="panel-body">
              <%= render partial: "trainers/rejected" %>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
  <%=link_to "<< Back","/admpanel"%> to Admin Panel.
</div>