<p id="notice"><%= notice %></p>

<h3 class="heading">List of Registered Trainers (<font color="blue"><b>Admin View</b></font>)</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Email</th>
      <th>Current Sign In At</th>
      <th>Login Type</th>
      <th>Name</th>
      <th>Number</th>
      <th>D.O.B</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Plan</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @trainer.each do |trainer| %>
      <tr>
      <% if trainer.profile_status=="pending" %>
        <td class="pending">Pending</td>
      <% else %>
        <td class="approved">Approved</td>
      <%end%>
        <td><%= trainer.email %></td>
        <td><%= trainer.current_sign_in_at %></td>
        <td><%= trainer.login_type %></td>
        <% if trainer.address? %>
          <td><%= trainer.full_name %></td>
        <% else %>
          <td><font color="red">Blank</font></td>
        <% end %>
        <td><%= trainer.primary_number %></td>
        <td><%= trainer.birth_date %></td>
        <% if trainer.gender =="not selected" %>
          <td><font color="red">Blank</font></td>
        <% else %>
          <td><%= trainer.gender %></td>
        <% end %>
        <% if trainer.address? %>
          <td><%= trainer.address %>,<br><%= trainer.city %>, <%= trainer.state %>,<%= trainer.country %></td>
        <% else %>
          <td><font color="red">Blank</font></td>
        <% end %>
        <td><%= trainer.subscribed_plan %></td>        
        <td><%= trainer.created_at.to_date %></td>
        <td><%= link_to 'Approve / Reject', edit_trainer_registration_path, :class=>"label label-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>