<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function(){

      $("#expertise").hide();
      $("#qualification").hide();
      //$("#profile").show();
      $("#showprofilepage").addClass("active");
      $("#profilepage").show();
      $("#savedprogram").hide();
      $("#appliedprogram").hide();
      $(function(){
         if (window.location.hash){
            var hash = window.location.hash.substring(1);
            if (hash == "appliedprogram"){
               $("#showappliedprogram").click();
            }
            else if(hash == "savedprogram"){
               $("#showsavedprogram").click();
            }
            else{
               $("#showprofilepage").click();
            }
         }

      });

      $("#showappliedprogram").click(function(){
        $("#profilepage").hide();
        $("#dashboard").hide();
        $("#savedprogram").hide()
        $("#appliedprogram").show()
        $("#showprofilepage").removeClass("active");
        $("#showsavedprogram").removeClass("active");
        return false;
      });
      $("#showprofilepage").click(function(){
        $("#profilepage").show();
        $("#dashboard").hide();
        $("#appliedprogram").hide();
        $("#savedprogram").hide()
        $("#showappliedprogram").removeClass("active");
        $("#showsavedprogram").removeClass("active");
        return false;
      });
      $("#showsavedprogram").click(function(){
        $("#profilepage").hide();
        $("#dashboard").hide();
        $("#appliedprogram").hide();
        $("#savedprogram").show();
        $("#showappliedprogram").removeClass("active");
        $("#showprofilepage").removeClass("active");
        return false;
      });
      $("#showexpert").click(function(){
        $("#expertise").show();
        $("#profile").hide();
        $("#qualification").hide();
        $('#showprofilepage').removeClass("active");
        $('#showqual').removeClass("active");
        $('#showexpert').addClass("active");
      });
      $("#showqual").click(function(){
        $("#qualification").show();
        $("#profile").hide();
        $("#expertise").hide();
        $('#showprofilepage').removeClass("active");
        $('#showqual').addClass("active");
        $('#showexpert').removeClass("active");
      });
      $("#showprofile").click(function(){
        $("#qualification").hide();
        $("#profile").show();
        $("#expertise").hide();
        $('#showprofilepage').addClass("active");
        $('#showqual').removeClass("active");
        $('#showexpert').removeClass("active");
      });
      if(window.location.hash){
        var id=window.location.hash;
        $(id).click();
      }else{$("#showprofilepage").click()}
  });
$(document).ready(function(){
      setTimeout(function(){
      $("#notice").hide("slow");
     },2000);
  });
</script>
<div class="col hide-on-small m1 l1">&nbsp;</div>
<div class="col s12 m10 l10">
  <div class="col s12 m12 l12 topmargin">
      <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <div class="col s12 m3 l3"><!--    Profile side bar -->
    <div class="profile-pic">
      <% if @trainer.image.url=='/images/original/missing.png'%>
        <%= image_tag("profile_pics/pic_def.png", :class => "profile-pic-img") %>
      <%else%>
        <%= image_tag(@trainer.image.url, :class => "profile-pic-img") %>
      <%end%>
    </div>
    <div class="profile-sidebar">
      <ul class="collection">
        <li class="collection-item">
          <a href="#profilepage" id="showprofilepage" onclick="this.className='active'">My Profile</a> (<span style="align:right;font-size:13px;"><%= link_to 'Edit', edit_trainer_registration_path %></span>)
        </li>
        <li class="collection-item">
          <a href="#appliedprogram" id="showappliedprogram" onclick="this.className='active'">Applied Programs</a>
        </li>
        <li class="collection-item">
          <a href="#savedprogram" id="showsavedprogram" onclick="this.className='active'">Saved Programs</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m9 l9"><!--    Profile main bar -->
    <div class="profile-header">
      <div class="profile-name">
        <h5><%= @trainer.full_name %></h5>        
      </div>
      <div>
        <%= @trainer.email %><br>
        Active since : <%= DateTime.parse(@recruiter.created_at.to_s).strftime("%m-%d-%Y") %>
      </div>
    </div>
    <div class="profile-mainbar" id="profilepage">
      <div class="col s12 m6 l6 topmargin">
        <div class="hd">About You</div>
        <div class="profile-body">
          <table>
            <tr>
              <td class="pdt">Full Name</td><td><%= @trainer.full_name %> <%= @trainer.last_name %></td>
            </tr>
            <tr>
              <td class="pdt">Date of Birth</td><td><%= @trainer.birth_date %></td>
            </tr>
            <tr>
              <td class="pdt">Gender</td><td><%= @trainer.gender %></td>
            </tr>
            <tr>
              <td class="pdt">Status</td><td><%= @trainer.profile_status %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col s12 m6 l6 topmargin">
        <div class="hd">Contact Details</div>
        <div class="profile-body">
          <table>
            <tr>
              <td style="width:35%;">Contact Number</td><td><%= @trainer.primary_number%></td>
            </tr>
            <tr>
              <td style="width:35%;vertical-align:top;">Mailing Address</td>
              <td>
                <%= @trainer.address%><br>
                <%= @trainer.city%>, <%= @trainer.state%><br>
                <%= @trainer.country%>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col s12 m12 l12 spacediv">
        
      </div>
      <div class="profile-mainbar">
        <div class="">
          <ul class="tabs">
            <li class="tab col s6 m6 l6"><a href="#exprt">Expertise</a></li>
            <li class="tab col s6 m6 l6"><a href="#qual">Qualification</a></li>
          </ul>
        </div>
        <div id="exprt" class="topmargin">
          <% if @trainer.expertises.count<=0 %>
            <%= link_to "Add Expertise","#newmodal",:class=>"btn btn-success modal-trigger",:id=>"addexpertise"%>
          <% elsif @trainer.expertises.count==5%>
            <%= link_to "Add Expertise","#newmodal",:class=>"btn btn-success modal-trigger disabled",:id=>"addexpertise"%>
          <% else %>
            <%= link_to "Add More Expertise","#newmodal",:class=>"btn btn-success modal-trigger",:id=>"addexpertise"%>
          <% end %>
          <div id="newmodal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">
                    Add Expertise<br> <span style="color:red;margin-left:10px;font-size:12px;">* All Fields are mandatory.</span>
                  </h5>
                  <%= render "expertises/form" %>
                  &nbsp;
                </div>
            </div>
          </div>
          <%= render @trainer.expertises %>
        </div>
        <div id="qual" class="topmargin">
          <%= link_to "Add Qualification","#newqualmodal",:class=>"btn btn-success modal-trigger",:id=>"addnewqual"%>
          <div id="newqualmodal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">
                    Add Qualification<br> <!--span style="color:red;margin-left:10px;font-size:12px;">* All Fields are mandatory.</span-->
                  </h5>
                  <%= render "qualifications/form" %>
                  &nbsp;
                </div>
            </div>
          </div>
          <%= render @trainer.qualifications %>
        </div>
      </div>
    </div>
    <div class="profile-mainbar" id="appliedprogram">
      <div class="topmargin">
        <div class="hd">Applied Programs</div>
        <% if @trainer.appliedprograms.exists? %>
          <%= render @trainer.appliedprograms %>
        <%else%>
          <%= render 'appliedprograms/noprograms' %>
        <%end%>
      </div>
    </div>
    <div class="profile-mainbar" id="savedprogram">
      <div class="topmargin">
        <div class="hd">Saved Programs</div>
        <% if @trainer.savedprograms.exists? %>
          <%= render @trainer.savedprograms %>
        <%else%>
          <%= render 'savedprograms/noprograms' %>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class="col hide-on-small m1 l1">&nbsp;</div>
<script>

  $(document).ready(function () {
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();

  });
</script>