<script type="text/javascript">
    $(document).ready(function(){
      $("#expertise").hide();
      $("#qualification").hide();
      $("#profile").show();
      $("#showprofilepage").addClass("active");
      $("#profilepage").show();
      $("#savedprogram").hide();
      $("#appliedprogram").hide();

      $("#showappliedprogram").click(function(){
        $("#profilepage").hide();
        $("#dashboard").hide();
        $("#savedprogram").hide()
        $("#appliedprogram").show()
        $("#showprofilepage").removeClass("active");
        $("#showsavedprogram").removeClass("active");
        return false;
      });
      $("#showprofilepage").click(function(){
        $("#profilepage").show();
        $("#dashboard").hide();
        $("#appliedprogram").hide();
        $("#savedprogram").hide()
        $("#showappliedprogram").removeClass("active");
        $("#showsavedprogram").removeClass("active");
        return false;
      });
      $("#showsavedprogram").click(function(){
        $("#profilepage").hide();
        $("#dashboard").hide();
        $("#appliedprogram").hide();
        $("#savedprogram").show();
        $("#showappliedprogram").removeClass("active");
        $("#showprofilepage").removeClass("active");
        return false;
      });
      $("#showexpert").click(function(){
        $("#expertise").show();
        $("#profile").hide();
        $("#qualification").hide();
        $('#showprofilepage').removeClass("active");
        $('#showqual').removeClass("active");
        $('#showexpert').addClass("active");
      });
      $("#showqual").click(function(){
        $("#qualification").show();
        $("#profile").hide();
        $("#expertise").hide();
        $('#showprofilepage').removeClass("active");
        $('#showqual').addClass("active");
        $('#showexpert').removeClass("active");
      });
      $("#showprofile").click(function(){
        $("#qualification").hide();
        $("#profile").show();
        $("#expertise").hide();
        $('#showprofilepage').addClass("active");
        $('#showqual').removeClass("active");
        $('#showexpert').removeClass("active");
      });
      }
  );
$(document).ready(function(){
      setTimeout(function(){
      $("#notice").hide("slow");
     },2000);
  });
</script>
<div class="col-xs-12 col-md-12 col-sm-12">
    <ul class="nav navbar-nav profile-nav">
      <li><a href="#profilepage" id="showprofilepage" onclick="this.className='active'">My Profile</a></li>
      <%#<li><a href="#dashboard" id="showdashboard" onclick="this.className='active'">Dashboard</a></li>%>
      <li><a href="#appliedprogram" id="showappliedprogram" onclick="this.className='active'">Projects Applied</a></li>
      <li><a href="#savedprogram" id="showsavedprogram" onclick="this.className='active'">Saved Programs</a></li>
      
      <%#<li><a href="#">Inbox</a></li>%>      
    </ul>    
  <span class="tright" style="margin-top:1%;">
    <%= link_to 'Find Project', "/programs", :class=>"homebutton" %>
  </span>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 gradient">
    <div class="col-xs-12 col-md-12 col-sm-12 topmargin">
        <%= render partial: "shared/flash_messages", flash: flash %> 
    </div>
  <div class="col-xs-12 col-md-12 col-sm-12" id="appliedprogram" style="padding:10px;margin-top: 1%;margin-bottom:4%">          
      <%= render @trainer.appliedprograms %>
        &nbsp;
      
      <%#<div class="whitebg">
        <table>
          <tr>
            <th>Project Title</th><th>Description</th><th>Date</th><th>Option</th>
          </tr>
        </table>
      </div>%>
  </div>
  <%#<div class="col-xs-12 col-md-12 col-sm-12" id="appliedprogram" style="padding:10px;margin-top: 4%;margin-bottom:4%">    
        <%= render @trainer.savedprograms %><%#
        &nbsp;
  </div>%>
  <div class="col-xs-12 col-md-12 col-sm-12" id="savedprogram" style="padding:10px;margin-top: 1%;margin-bottom:4%">      <%= render @trainer.savedprograms %>      
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12 whitebg" id="profilepage" style="padding:10px;margin-top: 4%;margin-bottom:4%">
    <div class="col-xs-6 col-md-3 col-sm-6" style="margin-top:-4%;">
      <% if @trainer.image.url=='/images/original/missing.png'%>
        <%= image_tag("profile_pics/pic_def.png", :class => "profile_pic") %>
      <%else%>
        <%= image_tag(@trainer.image.url, :class => "profile_pic") %>
      <%end%>
    </div>
    <div class="col-xs-6 col-md-9 col-sm-6">
        <h3><b><%= @trainer.full_name %> <%= @trainer.last_name %></b></h3>
        <%= @trainer.email %> 
        <div class="col-md-12 col-xs-12 col-sm-12 topmargin" style="margin-left:-20px;">
          <%= link_to "Profile",'#',:class=>"btn btn-default col-xs-6 col-sm-12 col-md-2", :id=>"showprofile",:style=>"margin-right:10px;" %>
          <%= link_to "Expertise",'#',:class=>"btn btn-default col-xs-6 col-sm-12 col-md-2",:style=>"margin-right:10px;", :id=>"showexpert" %>
          <%= link_to "Qualification",'#',:class=>"btn btn-default col-xs-6 col-sm-12 col-md-2", :id=>"showqual" %>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 topmargin lato" id="expertise">      
      <div class="col-md-2 col-xs-12 col-sm-6">
        <h4><b>List of Expertise</b></h4>
      </div>
      <div class="col-md-2 col-xs-12 col-sm-6">
        <%= link_to "Add More","#expertisemodal",:class=>"btn btn-success","data-toggle" => "modal",:id=>"addexpertise"%>
        <div id="expertisemodal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add Expertise</h4>
                  </div>
                  <div class="modal-body">
                    <%= render "expertises/form" %>
                    &nbsp;
                  </div>
              </div>
          </div>
        </div>
      </div>
      <%= render @trainer.expertises %>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 topmargin lato" id="qualification">      
      <div class="col-md-2 col-xs-12 col-sm-6">
        <h4><b>Qualification Details</b></h4>
      </div>
      <div class="col-md-2 col-xs-12 col-sm-6">
        <%= link_to "Add More","#qualificationmodal",:class=>"btn btn-success","data-toggle" => "modal",:id=>"addqualification"%>
        <div id="qualificationmodal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add Qualification</h4>
                  </div>
                  <div class="modal-body">
                    <%= render "qualifications/form" %>
                    &nbsp;
                  </div>
              </div>
          </div>
        </div>
      </div>
      <%= render @trainer.qualifications %>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 topmargin lato" id="profile">
      <%= link_to raw('<span class="tright glyphicon glyphicon-pencil orange"></span>'), edit_trainer_registration_path %>
      <div class="col-xs-12 col-md-6 col-sm-12" style="margin-top:15px;">
        <h3>Basic Details</h3>
        <table class="table">
            <tr><td>Name:</td><td><%= @trainer.full_name %></td></tr>
            <%#<tr><td>Rank:</td><td><font color="red">Display ranking of trainer</font></td></tr>%>
            <tr><td>Date of Birth:</td><td><%= @trainer.birth_date %></td></tr>
            <tr>
                <td>Gender:</td>
                <td>
                  <% if @trainer.gender=="Select Gender" %>
                    Not Specified
                  <%else%>
                    <%= @trainer.gender %>
                  <%end%>
                </td>
            </tr>
            <tr>
              <td>Profile Status:</td>
              <td>
                <% if @trainer.profile_status=="pending" %>
                  <span class="label label-warning">Pending Approval</span><br>
                  <div style="margin-top:5px;"><a href="">Here's Why</a>.</div>
                <%else%>
                  <%= @trainer.profile_status %>
                <%end%>
              </td>
            </tr>
            <tr>
              <td>Your Plan:</td>
              <td>
                <% if @trainer.subscribed_plan=="trail" %>
                  Trail, <a href="">Click</a> to Upgrade your Plan
                <%else%>
                  <%= @trainer.subscribed_plan %>
                <%end%>
              </td>
            </tr>
        </table>
      </div>
      <div class="col-xs-12 col-md-6 col-sm-12">
        <h3>Contact Details</h3>
        <table class="table">
          <tr><td>Number:</td><td><%= @trainer.primary_number %></td></tr>
          <tr>
            <td>Address:</td>
            <td>
              <% if @trainer.address? %>
                <%= @trainer.address %><br>
                <%= @trainer.city %><br>
                <%= @trainer.state %>, <%= @trainer.country %>
              <%else%>
                <span class="disabled"><%= link_to 'Add Address' %></span>
              <%end%>
            </td>
          </tr>
        </table>
      </div>
    </div>    
  </div>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 whitebg center lato">
  <p class="orange"><font size="4px;">On our blog, you will find many resources which will help you to prepare for your <br>next training program in a better way. Lets get going.</font></p>
</div>