<script type="text/javascript">
    $(document).ready(function(){
      $("#recdash").show();
      $("#recprofilepage").hide();
      $("#postedprograms").hide();
      $("#appliedprograms").show();
      $('#showappliedprograms').addClass("active");
      $("#showpostedprograms").click(function(){
        $("#recprofilepage").hide();
        $("#postedprograms").show();
        $("#appliedprograms").hide();        
        $('#showrecprofilepage').removeClass("active");
        $('#showappliedprograms').removeClass("active");
        return false;
      });
      $("#showappliedprograms").click(function(){
        $("#recprofilepage").hide();
        $("#postedprograms").hide();
        $("#appliedprograms").show();
        $('#showrecprofilepage').removeClass("active");
        $('#showpostedprograms').removeClass("active");
        return false;
      });
      $("#showrecprofilepage").click(function(){
        $("#recprofilepage").show();
        $("#appliedprograms").hide();
        $("#postedprograms").hide();
        $('#showpostedprograms').removeClass("active");
        $('#showappliedprograms').removeClass("active");
        return false;
      });

      $("#recprofile-l").click(function(){
        $("#recprofile").show();
        $("#recdash").hide();
      });
      }
  );
$(document).ready(function(){
      setTimeout(function(){
      $("#notice").hide("slow");
     },2000);
  });
$(document).ready(function () {
    if (window.location.href.indexOf("programmodal") != -1) {
        $("#recprofilepage").hide();
        $("#postedprograms").show();
    }
});
</script>
<div class="col-xs-12 col-md-12 col-sm-12">

    <ul class="nav navbar-nav profile-nav">
      <li><a href="#appliedprograms" id="showappliedprograms" onclick="this.className='active'">Dashboard</a></li>
      <li><a href="#recprofilepage" id="showrecprofilepage" onclick="this.className='active'">My Profile</a></li>
      <li><a href="#postedprograms" id="showpostedprograms" onclick="this.className='active'">My Programs</a></li>      
      <%#<li><a href="#">Inbox</a></li>%>      
    </ul>    
  <span class="tright" style="margin-top:1%;">
    <% if @recruiter.programs.blank? %>
      <%= link_to "Post Project","#programmodal",:class=>"homebutton","data-toggle" => "modal",:id=>"addprogram"%>
    <%else%>
      <%= link_to "Post Another Project","#programmodal",:class=>"homebutton","data-toggle" => "modal",:id=>"addprogram"%>
    <%end%>
  </span>
  <div id="programmodal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add New Program</h4>
        </div>
        <div class="modal-body">
          <%= render "programs/form" %>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 gradient">
  <div class="col-xs-12 col-md-12 col-sm-12 topmargin">
      <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12 whitebg" id="recprofilepage" style="padding: 10px;margin-top: 4%;margin-bottom:4%">
    <div class="col-xs-6 col-md-3 col-sm-6" style="margin-top:-4%;">
      <% if @recruiter.image.url=='/images/original/missing.png'%>
        <%= image_tag("profile_pics/pic_def.png", :class => "profile_pic") %>
      <% else %>
        <%= image_tag(@recruiter.image.url, :class => "profile_pic") %>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-9 col-sm-6">
        <h3>
          <% if @recruiter.firm_name? %>
            <b><%= @recruiter.firm_name %></b>
          <%else%>
            <b>Welcome</b>
          <% end -%>  
        </h3>
        <%= @recruiter.email %>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 topmargin lato" id="profile">
      <%= link_to raw('<span class="tright glyphicon glyphicon-pencil orange"></span>'), edit_recruiter_registration_path %>
      <div class="col-xs-12 col-md-6 col-sm-12" style="margin-top:15px;">
        <h3>Firm Details</h3>
        <table class="table">
            <tr><td>Name:</td><td><%= @recruiter.firm_name %></td></tr>
            <tr>
              <% if @recruiter.firm_type =="not selected" %>
                <td>Type</td>
                <td><%= link_to "Select Firm Type", edit_recruiter_registration_path %></td>
              <% else %>
                <td>Type</td><td><%= @recruiter.firm_type %></td>
              <% end %>
            </tr>
            <tr><td>Contact Number</td><td><%= @recruiter.firm_number %></td></tr>
            <% if @recruiter.firm_address? %>
              <tr>
                <td>Address</td>
                <td>
                    <%= @recruiter.firm_address %>,<%= @recruiter.city %><br>
                    <%= @recruiter.state %>, <%= @recruiter.country %>
                </td>
              </tr>
            <%else%>
              <tr>
                  <td>Address</td>
                  <td><%= link_to "Add Address", edit_recruiter_registration_path %></td>
              </tr>
            <%end%>            
        </table>
      </div>
      <div class="col-xs-12 col-md-6 col-sm-12">
        <h3>Authorised Person Contact Details</h3>
        <table class="table">
          <tr><td>Person Name</td><td><%= @recruiter.contact_person_name %></td></tr>
          <tr><td>Email:</td><td><%= @recruiter.contact_person_email %></td></tr>
          <tr><td>Number:</td><td><%= @recruiter.contact_person_number %></td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12" id="postedprograms" style="padding: 10px;margin-top: 4%;margin-bottom:4%">
    <div class="col-xs-12 col-md-12 col-sm-12 lato">      
      <%#<div class="col-md-3 col-xs-12 col-sm-6 whitebg">
        <h4><b>Your Posted Programs</b></h4>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6" style="margin-top:5px;">
        <%= link_to "Add More","#programmodal",:class=>"homebutton","data-toggle" => "modal",:id=>"addprogram"%>
        <%#<div id="programmodal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add New Program</h4>
                  </div>
                  <div class="modal-body gradient">
                    <%= render "programs/form" %><%#
                    &nbsp;
                  </div>
              </div>
          </div>
        </div>
      </div>%>
        <%= render @recruiter.programs %>
    </div>
      
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12" id="appliedprograms" style="padding: 10px;margin-top: 4%;margin-bottom:4%">
    <div class="col-xs-12 col-md-12 col-sm-12 lato">    
        <%= render @recruiter.appliedprograms %>
    </div>
      
  </div>
</div>
<%#<div class="col-xs-12 col-md-12 col-sm-12 whitebg center lato">
  <p class="orange"><font size="4px;">Need better results? Upgrade the plan for the project to get more enquiries or <br>get in <a href="/contact-us">touch</a> with us.</font></p>
</div>%>