       <div class="col-xs-12 gradient">          
          <div id="header" class="col-xs-3 logo">
            <div style="float:left;margin-top:10px;margin-left:5px;">
              <%= link_to(image_tag("logo.png", :width=>"60%"),"/") %>
            </div>
          </div>
          <div id="links" class="toplinks">
            <% if trainer_signed_in? %>
              <% if current_trainer.full_name? %>
                <table>
                  <tr>
                    <td><font color="white"><b><%= current_trainer.full_name %></b></font></td>
                    <td><%= link_to "My Account", "/trainers/profile", :class=>"label label-success" %></td>
                    <td><%= link_to "Sign out", destroy_trainer_session_path, :class=>"label label-warning" %> </td>
                  </tr>
                </table>
              <%elsif current_trainer.email? %>
                <table>
                  <tr>
                    <td><font color="white"><b><%= current_trainer.email %></b></font></td>
                    <td><%= link_to "My Account", "/trainers/profile", :class=>"label label-success" %></td>
                    <td><%= link_to "Sign out", destroy_trainer_session_path, :class=>"label label-warning" %> </td>                    
                  </tr>
                </table>
              <%else%>
                <table>
                  <tr>
                    <td><%= link_to "Sign_up", new_trainer_registration_path, :class=>"label label-success"  %></td>
                    <td><%= link_to "sign_in", new_trainer_session_path, :class=>"label label-success" %></td>
                  </tr>
                </table>                  
              <%end%>
            <% elsif recruiter_signed_in? %>
                <% if current_recruiter.firm_name? %>
                <table>
                  <tr>
                    <td style="padding:3px;"><font color="white"><b><%= current_recruiter.firm_name %></b></font></td>
                    <td style="padding:3px;"><%= link_to "My Account", "/recruiters/profile", :class=>"label label-success" %></td>
                    <td style="padding:3px;"><%= link_to "Sign out", destroy_recruiter_session_path, :class=>"label label-warning" %></td>                    
                  </tr>
                </table>
                <%elsif current_recruiter.email? %>
                  <table>
                  <tr>
                    <td style="padding:3px;"><font color="white"><b><%= current_recruiter.email %></b></font></td>
                    <td style="padding:3px;"><%= link_to "My Account", "/recruiters/profile", :class=>"label label-success" %></td>
                    <td style="padding:3px;"><%= link_to "Sign out", destroy_recruiter_session_path, :class=>"label label-warning" %></td>
                  </tr>
                </table>
                <%else%>
                  <table>
                    <tr>
                      <td><%= link_to "Sign_up", new_recruiter_registration_path, :class=>"label label-success"  %></td>
                      <td> <%= link_to "sign_in", new_recruiter_session_path, :class=>"label label-success" %></td>
                    </tr>
                  </table>
                <% end %>
              <%else%>
                <li class="dropdown pull-right" style="list-style:none;color:white">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                      <font color="#fff"><b>Login <span class="caret"></span></b></font>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/trainers/sign_in">Trainer</a></li>
                        <li class="divider"></li>
                        <li><a href="/recruiters/sign_in">Recruiter</a></li>                    
                    </ul>
                  </li>
            <% end %>             
          </div>
        </div>